.Search {
  display: block;
  width: 80%;
  margin: auto;
}

.SearchBar {
  display: block;
  margin: auto;
  min-width: 250px;
  max-width: 310px;
  margin-bottom: 30px;
  margin-top: 3%;
}

.Table {
  text-align: center;
  width: 66%;
  margin: auto;
}
